body {
	background-image: url("../images/superman.jpg");
	background-position: center;
}

.crystals{
	display: flex;
	justify-content: space-around;
	
	align-items: center;
}

.crystal {
	border: 1px solid green;
	height: 200px;
	width: 200px;
}

.drew-nav{
	background-color: blue;
	color: red;
	text-align: center;
}

.drew-text{
	color: red;
	text-align: center;
}

.container {
	text-align: center;
}

#result {
	font-weight: bold;
}